@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-manrope font-bold text-[56px] uppercase leading-[58px] tracking-[2px];
  }

  h2 {
    @apply font-manrope font-bold text-[40px] uppercase leading-[44px] tracking-[1.5px];
  }

  h3 {
    @apply font-manrope font-bold text-[32px] uppercase leading-[36px] tracking-[1.15px];
  }

  h4 {
    @apply font-manrope font-bold text-[28px] uppercase leading-[38px] tracking-[2px];
  }

  h5 {
    @apply font-manrope font-bold text-[24px] uppercase leading-[33px] tracking-[1.7px];
  }

  h6 {
    @apply font-manrope font-bold text-[18px] uppercase leading-[24px] tracking-[1.3px];
  }

  p {
    @apply font-manrope font-medium text-[15px] leading-[25px];
  }
}

@layer components {
  .btn-1 {
    width: 160px;
    height: 48px;
    text-align: center;
    background-color: #d87d4a;
    color: white;
    flex-shrink: 0;
  }

  .btn-1:hover {
    background-color: #fbaf85;
  }

  .btn-2 {
    width: 160px;
    height: 48px;
    text-align: center;
    background-color: transparent;
    color: black;
    border: 1px solid black;
    flex-shrink: 0;
  }

  .btn-2:hover {
    background-color: black;
    color: white;
  }

  .btn-3 {
    color: rgba(0, 0, 0, 0.5);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 13.322px;
  }

  .btn-3:hover {
    color: #d87d4a;
  }
}

.text-overline {
  @apply font-manrope font-normal text-[14px] uppercase leading-[19px] tracking-[10px];
}

.text-subtitle {
  @apply font-manrope font-bold text-[13px] uppercase leading-[25px] tracking-[1px];
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}
